# Laravel directories
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Environment variables
/.env
/.env.*.local
Homestead.yaml
Homestead.json
/vagrant

# Docker
docker-compose.override.yml
docker-compose.local.yml
docker-compose.yml
/.docker
/.env.docker

# Windows
Thumbs.db
Desktop.ini

# WSL 2 (optional)
/.wslconfig

# IDE specific files
/.idea
/.idea/modules.xml
/.idea/monday-startupforstartups.iml
/.idea/php.xml
/.idea/vcs.xml
.idea
.vscode

# Composer & NPM
/composer.lock
/npm-debug.log
/yarn-error.log
